:root {
  --base: #89cff0;
  --size: 100px;
  --blur: 0px;
  --border: 2px;
  --bordercolor: #ffffff;
  --rotate: 0deg;
  --secondary: rgb(160, 115, 0);
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Cutive+Mono&display=swap");
html {
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 60px auto;
}

h1 {
  grid-column: 1 / span 9;
  grid-row: 1;
  color: var(--secondary);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  z-index: 2;
}

#sample {
  grid-column: 8 / span 1;
  grid-row: 1;
  border-radius: 50px;
  max-width: 10ch;
  padding: 1em;
  font-weight: 700;
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.5s;
}

#sample:hover {
  color: var(--base);
  transform: scale(1.1);
}

.hl {
  color: var(--base);
}

.text-input {
  grid-column: 1 / span 9;
  grid-row: 2;
  margin: 2em 0;
  font-family: "Cutive Mono", monospace;
  color: var(--secondary);
  gap: 0.3em;
}

.controls {
  grid-column: 2 / span 6;
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.4em;
  width: 100%;
  color: var(--base);
}

.inputs {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 0.5em;
  font-family: "Cutive Mono", monospace;
  color: var(--secondary);
}

.text-logo {
  grid-column: 1 / span 9;
  grid-row: 4;
}

.text-written {
  grid-column: 1 / span 9;
  grid-row: 1;
  font-size: var(--size);
  color: var(--base);
  filter: blur(var(--blur));
  transform: rotate(var(--rotate));
  text-shadow: var(--border) 2px var(--bordercolor);
  z-index: 2;
}

.text-logo img {
  width: 100%;
  grid-column: 2 / span 7;
  grid-row: 1;
  display: none;
}

button {
  margin-top: 1em;
  cursor: pointer;
  color: var(--base);
  border: 1px solid #313131;
  padding: 0.3em;
  font-weight: 600;
}

#results-btn{
  grid-column: 9 / span 1;
  grid-row: 3;
 width: 50%;
 margin-top: 5em;
}
#return-btn{
  grid-column: 9 / span 1;
  grid-row: 4;
 width: 50%;
 display: none;
 margin-top: 20em;
}

input {
  cursor: pointer;
}

/* phone style*/
@media screen and (max-width: 620px) {
  .sample {
    display: none;
  }
}
